<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        textarea, input {
            border: 1px solid black;
            margin: 1px;
        }

        button {
            width: 70px;
            height: 30px;
        }

        .center-screen {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: auto;
            /*background-color: aqua;*/
        }

        .display-show {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-right: 8px;
            margin-left: 8px;
            /*display: none;*/
        }

        .center-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .center-text {
            display: block;
            text-align: center;
        }

        /* Add this rule */
        #url, #referencData, #text-input {
            font-size: 18px;
        }

        #addUrlButton {
            margin-left: 10px;
            width: 70px;
            height: 30px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="center-screen">
    <div style="display: flex; align-items: flex-start;">
        <div class="display-show">
            <label for="referencData">参考数据：</label>
            <textarea id="referencData" style="width: 400px; height: 649px; overflow: auto; " readonly></textarea>
        </div>
        <div>
            <div class="center-content">
                <label for="url">选择模型：</label>
                <select id="model_name" style="width: 900px; height: 30px;">
                    <option value="qianfan">qianfan</option>
                    <option value="gpt3.5">gpt3.5</option>
                    <option value="gpt_4o">gpt_4o</option>
                </select>
            </div>
            <div>
                <textarea id="display-area" style="width: 900px; height: 500px; overflow: auto;" readonly></textarea>
            </div>
            <div>
                <textarea id="text-input"
                          style="width: 900px; height: 100px; overflow: auto;">悉尼大学申请费多少钱</textarea>
            </div>
            <div>
                <button onclick="clearInput()">Clear</button>
                <button onclick="sendMessage()">Send</button>
            </div>
        </div>
        <div class="display-show">
            <div>
                <label for="addUrl" class="center-text">添加网页知识：</label>
                <div style="display: flex; align-items: center;">
                    <input id="addUrl" style="width: 300px; height: 30px;" placeholder="官网url"
                           value="https://study.unimelb.edu.au/?in_c=home-path"
                    >
                    <button onclick="addUrl()" id="addUrlButton">解析页面</button>
                </div>
                <textarea id="urlData" style="width: 381px; height: 399px; overflow: auto; "></textarea>
                <button onclick="addUrlData()" id="addUrlButton1">添加</button>
            </div>
            <div style="margin-top: 14px">
                <label for="school" class="center-text">添加基础知识：</label>
                <div>
                    <input id="country" style="width: 300px; height: 30px;" placeholder="国家">
                    <input id="school" style="width: 300px; height: 30px;" placeholder="学校-专业">
                    <input id="questions" style="width: 300px; height: 30px;" placeholder="提问">
                    <input id="answer" style="width: 300px; height: 30px;" placeholder="回答">
                    <button onclick="addBase()">添加</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    // 清空输入框
    function clearInput() {
        document.getElementById("text-input").value = "";
    }

    var csrfToken = "{{ csrf_token }}";
    // 回车发送消息
    document.getElementById("text-input").addEventListener("keydown", function (event) {
        if (event.key === "Enter") {
            event.preventDefault(); // Prevents the default action of the Enter key
            sendMessage();
        }
    });
    var model_name = document.getElementById("model_name").value.trim();

    // 发送消息
    async function sendMessage() {
        var message = document.getElementById("text-input").value;
        // Check if the input is empty
        if (!message.trim()) {
            return;  // If the input is empty, stop the function execution
        }
        document.getElementById("display-area").value += "user: " + message + "\n";
        let response = await sendRequest('GET', '/knowledge/ask', {text: message});
        data = JSON.parse(response);
        document.getElementById("display-area").value += "assistant: " + data.ai_message + "\n" + "\n" + "\n";
        document.getElementById("referencData").value = data.reference_data;
        clearInput();
    }

    // 解析网页
    async function addUrl() {
        var addUrl = $('#addUrl').val().trim();
        if (!addUrl) {
            return;
        }
        let response = await sendRequest('GET', '/knowledge/ParsingUrl/', {url: addUrl});
        $('#urlData').val(response);
    }

    // 添加网页知识
    async function addUrlData() {
        console.log(csrfToken);
        var urlData = $("#urlData").val().trim();
        if (!urlData) {
            return;
        }

        let data = {
            questions: urlData,
            country: "country",
            school: 'school',
            answer: 'answer'
        }

        let response = await sendRequest('POST', '/knowledge/addUrlData/', data);
        $("#urlData").val("");
        alert('添加成功');

    }

    // 添加基础知识
    async function addBase() {
        var country = document.getElementById("country").value.trim();
        var school = document.getElementById("school").value.trim();
        var questions = document.getElementById("questions").value.trim();
        var answer = document.getElementById("answer").value.trim();
        if (!school || !questions || !answer) {
            return;
        }
        var data = {
            country: country,
            school: school,
            questions: questions,
            answer: answer
        };
        let response = await sendRequest('POST', '/knowledge/addBaseData/', data);
        alert('添加成功');
        // 将表格数据清空
        document.getElementById("country").value = "";
        document.getElementById("school").value = "";
        document.getElementById("questions").value = "";
        document.getElementById("answer").value = "";
    }

    function sendRequest(method, url, data = {}, headers = {}) {
        const defaultHeaders = {
            'User-Agent': 'Apifox/1.0.0 (https://apifox.com)',
            'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8'
        };

        // model_name 添加为默认的请求头
        if (model_name) {
            defaultHeaders['model_name'] = model_name;
        }
        // 创建一个新的 Promise 对象
        return new Promise((resolve, reject) => {
            $.ajax({
                method: method,
                url: url,
                data: data,
                headers: {"model-name": "gpt"},
            })
                .done(function (response) {
                    // 当请求成功时，解析 Promise 对象并返回数据
                    resolve(response);
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    // 当请求失败时，拒绝 Promise 对象并返回错误
                    console.error('Error:', errorThrown);
                    console.error('Response:', jqXHR.responseText);
                });
        });
    }

</script>
</body>
</html>
